mat-sidenav {
    margin: 16px;
    width: 20%;
    height: calc(100vh - 100px);
    border-right: none;
    background: #2C3C5B;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
    box-shadow: none!important;
}

.content {
    height: calc(100vh - 100px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;
    overflow: auto;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
    box-shadow: none!important;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1%;
    padding: 2%;
}

.creator-icon-button {
    stroke: white;
    fill: white;
    color: white;
}

.creator-icon-button:hover {
    stroke: #0AC5A8;
    fill: #0AC5A8;
    color: #0AC5A8;
}

.creator-icon-button-selected {
    stroke: #0AC5A8;
    fill: #0AC5A8;
    color: #0AC5A8;
}

.creator-icon-button-selected:hover {
    stroke: #0AC5A8;
    fill: #0AC5A8;
    color: #0AC5A8;
}