<mat-sidenav-container>
    <mat-sidenav [disableClose]="true" mode="side" opened>
        
        <div [hidden]="tabLabel != 'exercise'" class="grid-container">
            <button mat-icon-button [class.creator-icon-button]="!button.highlightButton()" [class.creator-icon-button-selected]="button.highlightButton()" *ngFor="let button of actionButtons" matTooltip="{{button.tooltip}}" (click)="button.actionToDo();">
                <mat-icon svgIcon="{{button.name}}"></mat-icon>
            </button>
        </div>

        <div [hidden]="tabLabel != 'solution' && tabLabel != 'exercise-solution'" clas="grid-container">
            <div class="grid-container">
                <button mat-icon-button class="creator-icon-button">
                    <mat-icon></mat-icon>
                </button>
            </div>

            <button mat-raised-button type="submit" (click)="configureSolution();">Configure</button>

            <div class="grid-container">
                <button mat-icon-button class="creator-icon-button">
                    <mat-icon></mat-icon>
                </button>
            </div>

            <button [hidden]="tabLabel != 'solution'"  mat-raised-button type="submit" (click)="setTab('exercise-solution');">Show Exercise</button>

            <button [hidden]="tabLabel != 'exercise-solution'"  mat-raised-button type="submit" (click)="setTab('solution');">Hide Exercise</button>

        </div>

        <div [hidden]="tabLabel != 'settings'">

            <div class="grid-container">
                <button mat-icon-button class="creator-icon-button">
                    <mat-icon></mat-icon>
                </button>
            </div>

            <span> Board Configuration </span>

            <div class="grid-container">
                <button mat-icon-button class="creator-icon-button">
                    <mat-icon></mat-icon>
                </button>
            </div>

            <span> Graph Configuration </span>

            <div class="grid-container">
                <button mat-icon-button class="creator-icon-button">
                    <mat-icon></mat-icon>
                </button>
            </div>

            <button mat-raised-button type="submit">Save Settings</button>

        </div>
    </mat-sidenav>
    <mat-sidenav-content class="content-container"> 

        <mat-card [hidden]="tabLabel != 'exercise' && tabLabel != 'exercise-solution'" class="main-content">
            <div id="jxgbox" class="mat-elevation-z8 jxgbox-board" style="width: 100%; height: 100%; overflow: hidden;"></div>
        </mat-card>

        <mat-card [hidden]="tabLabel != 'solution' && tabLabel != 'exercise-solution'" class="main-content">
            <div *ngIf="solutionIsLoading" class="spinner-container">
                <mat-spinner></mat-spinner>
            </div>
            <div *ngIf="!solutionIsLoading" style="width: 100%; height: 100%; ">
                <app-solution-graph></app-solution-graph>
            </div>
        </mat-card>

        <mat-card [hidden]="tabLabel != 'settings'" class="main-content">
        </mat-card>

        <div class="tab-labels">
            <button mat-flat-button [class.vertical-tab-button]="tabLabel != 'exercise'" [class.vertical-tab-button-selected]="tabLabel == 'exercise'" (click)="setTab('exercise');">Excercise</button>
            <button mat-flat-button [class.vertical-tab-button]="tabLabel != 'solution'" [class.vertical-tab-button-selected]="tabLabel == 'solution' || tabLabel == 'exercise-solution'" class="vertical-tab-button" (click)="setTab('solution');">Solution</button>
            <button mat-flat-button [class.vertical-tab-button]="tabLabel != 'settings'" [class.vertical-tab-button-selected]="tabLabel == 'settings'" class="vertical-tab-button" (click)="setTab('settings');">Settings</button>
        </div>

    </mat-sidenav-content>

</mat-sidenav-container>